body {
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 2%;
    background-color: #3795ee;
    color: #0f0f0f;
}

.directory {
    display: column;
    text-decoration: underline;
  }

  .photoText {
  display: flex;
  border-style: solid;
  border-width: 2px;
  border-color: #3795ee;
  background-color: #a9b3ce;
  }
  .photo {
    padding: 5%;
    padding-left: 10%;
  }

  p {
    position: relative; top: 200px;
  }

  .work {
    font-size: 25px;
    font-weight: 600;
    border-style: solid;
    border-width: 2px;
    border-color: #3795ee;
    background-color: #a9b3ce;
  }

  .entries {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: medium;
    font-weight: 200;
    text-decoration: underline;
    padding-bottom: 50px;
    .e1 {
      padding: 50px;
      border: 3px;
      border-style: solid;
      background-color: #9e788f;
    }
    .e2 {
      padding: 50px;
    }
    .e3 {
      padding: 50px;
    }
    .e4 {
      padding: 50px;
    }
  }

  footer {
    background-color: #0f0f0f;
    color: aliceblue;

  }
  .ci {
    font-size: 25px;
    font-weight: 600;
  }
  
  @media screen and (max-width: 768px) {
    .entries {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
